# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Laravel\Doctor-Care\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
